@tailwind base;
@tailwind components;
@tailwind utilities;

#cta{
    background-image: url('../images/bg-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ficon:hover{
    filter: opacity(20%)
}